{% extends "student/base.html" %}
{% load static %}
{% block title %}DoubtsAi{% endblock title %}
{% block doubtsActive %}active{% endblock doubtsActive %}
{% block stCss %}
<link rel="stylesheet" href="/static/css/student/batches.css">
<link rel="stylesheet" href="/static/css/student/doubtAi.css">
<style>

</style>

{% endblock stCss %}

{% block stContent %}
<div class="container mx-auto " >
    <div class="row">
        <div class="col-md-10 mx-auto my-5 py-5 doubtsContainer" id="batchContainer">
            <div class="doubtBase" id="doubtBase">

                
                    <div class="col-md-10 chatsss mx-auto d-flex flex-column justify-content-center align-items-center">

                        {% for c in chat %}
                       
                        <!-- User Msg spot  -->
                        <div class="w-100 mb-2">
                            <div class="user-msg msg w-auto bg-dark float-end px-3 py-1 d-flex justify-content-end align-items-center">
                           
                                <div class="query-container">
                                    <p>{{c.query}}</p>
                                </div>
                          
                            </div>
                        </div>
                        <!-- End user msg spot -->

                        <!-- Responce Msg spot  -->
                        <div class="w-100 mb-2">
                        <div class="responce {% if forloop.last %}new-Responce{% endif %} msg w-auto  float-start px-3 py-1 d-flex justify-content-end align-items-center">
                           
                                <div class="responce-container">
                                    {% if forloop.last %}
                                    <pre id="lresponce" class="d-none">{{ c.responce }}</pre>
                                    <p id="showlresponce"></p>
                                    {% else %}
                                       <p>{{c.responce}}</p>
                                    {% endif %}
                                   
                                </div>
                          
                        </div>
                        </div>
                        <!-- End Responce msg spot -->
                        {% endfor %}
                    </div>
                
                


            </div>
           <!-- Absolute input  -->
           <div class="inputContainer">
            <div class="container mx-auto">
                <div class="row ">
                    <form id="queryForm" method="post" >
                        {% csrf_token %}
                        <div class="col-8 mx-auto d-flex ">
                            <div class="input mx-auto">
                                <textarea name="query" id="input-query" class="p-2"  rows="1" ></textarea>
                                <button  type="submit"   id="SubBTN"><i id="SendBtn" class="fa-solid fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>

            <!-- bg-logo -->
            <div class="bg-logo">
                <div class="text-center">
                    <img src="/static/images/alpha-png.png" style="height: 20vh;" class="mx-auto text-center" /><br>
                    <h1>DoubtsAi</h1>
                </div>
            
            </div>

            <!-- chatbaseHeader -->
            <div class="cbaseHeader">
                <div class="h5 w-50 "><p class="ChatBaseTitle">{{ cB.name }}</p></div>
            </div>

        </div>
    </div>
</div>

<script>
    const sendBTN = document.getElementById('SendBtn');
    function submitForm(event){
        if(sendBTN.classList.contains("fa-paper-plane")){
            sendBTN.classList.remove("fa-paper-plane");
            sendBTN.classList.add("fa-spinner");
            event.preventDefault(); 
            setTimeout(()=>{
                document.getElementById("queryForm").submit();
            },1000)
        }
        else{
            null
        }

        
    }
    
    input=document.getElementById("input-query");
    input.addEventListener("keydown",(event)=>{
        if(event.keyCode == 13){
            event.preventDefault()
            submitForm(event);
        }
    })


    sendBTN.addEventListener('click',submitForm)

    chatss = document.getElementById("doubtBase");
    // to suto scroll to down on when reload
    document.addEventListener("DOMContentLoaded", function() {
        // Get the scrollable div element
        

        // Scroll the div to the bottom
        chatss.scrollTop = chatss.scrollHeight;
    }); 
    
    //animation style css
    const lresponce = document.querySelector('#lresponce');
    const showlresponce = document.querySelector('#showlresponce');


    text = lresponce.textContent;
    
    let index = 0;

    function addCharWithDelay() {
        if (index < text.length) {
            showlresponce.innerHTML += text[index];
            index++;
            chatss.scrollTop = chatss.scrollHeight;
            
            setTimeout(addCharWithDelay, 5);
        }
    }
    
    addCharWithDelay();

    inputss=document.getElementById("input-query");

    // Add an event listener for input changes
    inputss.addEventListener('input', function() {
        // Set the height of the textarea based on its content
        inputss.style.height = 'auto';
        inputss.style.height = (inputss.scrollHeight) + 'px';
    });
</script>
{% endblock stContent %}
