{% extends "student/base.html" %}
{% load static %}
{% block title %}E-Notes{% endblock title %}
{% block eNotesActive %}active{% endblock eNotesActive %}
{% block stCss %}
<link rel="stylesheet" href="/static/css/student/batches.css">
<style>
   .batch-select{
    background: var(--c-brand);
    border: 2px solid blue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
   }
</style>

{% endblock stCss %}

{% block stContent %}
<div class="container mx-auto " >
    <div class="row">
        <div class="col-md-10 mx-auto my-5 py-5" id="batchContainer">
            <div class="row">
                <div class="col-12 px-3 mx-3 d-flex justify-content-between align-items-center" >
                    <h2 id="categoriHead"><i class="fa-solid fa-file-pdf me-2"></i> E-Notes</h2><b class="p-3">
                    {% comment %} filter is not working check it later  {% endcomment %}
                        {% comment %} <select name="batchSelect" id="batchOptions" class="batch-select" style="border:2px solid blue">
                            <option selected value="none">NONE</option>
                            {% for b in st.sBatch.all %}
                           
                            <option value={{b.id}}>{{b.name}}</option>
                            
                            {% endfor %}
                            
                        </select> {% endcomment %}
                    </form>
                          
                    </b>
                    
                </div>
            </div>
            <hr>
            <div class="row" >
                <div class="col-md-9 mx-auto">
                    
                    
                        {% for b in st.sBatch.all %}
                        <div class="row">
                           <b> {{b.name}} </b>
                        </div>
                        {% for a in b.eNotes.all %}
                        <div class="row mb-1 ">

                            <div class="col-8">
                                {{a.name}}
                            </div>
                            <div class="col-4">
                                <a href={{a.file.url}}  class="btn btn-brand btn-primary">Download</a>
                            </div>
                        </div>
                       
                        {% endfor %}
                        <hr class="text-primary"/>
                        {% endfor %}
                    
                 
                     
                </div>
               
            </div>
             </div>
    </div>
</div>
{% endblock stContent %}
{% block sJs %}
<script>
  
   
  {% comment %}   option.addEventListener('change',()=>{
        console.log(option.value)
        window.location.href=(`student/eNotes/${option.value}`)
    }) {% endcomment %}
   
   
</script>
{% endblock sJs %}