{% extends "student/base.html" %}
{% load static %}
{% block title %}Class Timings{% endblock title %}
{% block classTimeActive %}active{% endblock classTimeActive %}
{% block stCss %}
<link rel="stylesheet" href="/static/css/student/batches.css">

{% endblock stCss %}

{% block stContent %}
<div class="container mx-auto " >
    <div class="row">
        <div class="col-md-10 mx-auto my-5 py-5" id="batchContainer">
            <div class="row">
                <div class="col-12 px-3 mx-3" >
                    <h2 id="categoriHead"><i class="fa-solid fa-clock me-2"></i>Class Timings </h2>
                </div>
            </div>
            <hr>
            <div class="row" style="display: flex;align-items: stretch;">
                <div class="col-md-9 mx-auto">
                    {% for s in st.sBatch.all %}
                    <div class="alert alert-info" role="alert">
                        <div class="row">
                            <div class="col-6  ">
                                <b>{{s.name}}</b>
                            </div>
                            <div class="col-6  ">
                                {{s.timings}}
                            </div>
                           
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
               
            </div>
             </div>
    </div>
</div>
{% endblock stContent %}