# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.pot
*.pyc
*.pyo
*.pyd
*.pdb

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace