@import url(../fonts/clash-display.css);

/* Universal styles */
:root{
    --c-dark:#212529;
    --c-brand:#4e57d4;
    --c-brand-lignt:#6970dd;
    --c-brand-rgb:rgb(78, 87, 212);
    --c-body:#727272;
    --font-base: 'ClashDisplay','sans-serif';
    --box-shadow:0px 15px 25px rgba(0,0,0,0.08);
    --transistion: all 0.5s ease;

}

body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3, h4, h5, h6
    ,.h1,.h2, .h3, .h4, .h5, .h6{
        font-weight: 600;
        color: var(--c-dark);
}

a{
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transistion);
}

a:hover{
    color: var(--c-brand-lignt);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow{
    box-shadow: var(--box-shadow);
}

/* image zoom */

.image-zoom{
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper{
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper img{
    transition: var(--transistion);
}

.image-zoom:hover .image-zoom-wrapper img{
    transform: scale(1.1);
}

/* Rest style  */
.navbar{
    box-shadow: var(--box-shadow);
}

.navbar .nav-link{
   font-weight: 500;
   color: var(--c-dark);

}

.navbar .nav-link:active{
    color: var(--c-brand);
}

.btn{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 10px 24px;
}

.btn-brand{
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover{
    background-color: var(--c-brand-lignt);
    border-color: var(--c-brand-lignt);
    color: white;
}

/* Hero section */
#hero{
    background: linear-gradient(rgba(78, 87, 212, 0.386),rgba(78, 87, 212, 0.482)),url('../images/hero2.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    
}

/* Section title  */
.section-title{
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.icon-box{
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(78, 87, 212, 0.1);
    color: var(--c-brand);
    font-size: 44px;
    flex: none;
}

/* Service section */

.services{
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.services::after{
    content: '';
    height: 40px;
    width: 40px;
    background:rgba(78, 87, 212, 0.1);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transistion);
}

.services:hover::after{
    height: 100%;
    width: 100%;
    background-color: var(--c-brand);
    z-index: -1;
}

.services:hover h5,
.services:hover p{
    color: white;
}

.services:hover a{
    color: var(--c-brand);
    background-color: white;
}

.services a:hover{
    background-color: rgba(255, 255, 255, 0.337);
    color: white;
}

.services:hover .icon-box{
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/* Counters */
#Counters{
    background: linear-gradient(rgba(78, 87, 212, 0.8),rgba(78, 87, 212, 0.8)), url('../images/counter1.jpg');
    background-position: center;
    background-size: cover;
}

/* Portfolio */
.portfolio-item .icon-box{
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.portfolio-item:hover .icon-box{
    opacity: 1;
    top: 50%;
}

/* Testimonial */

.testimonial-by small{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.testimonial-head{
    position: relative;
}
.testimonial-head::after{
    content: "";
    height: 28px;
    width: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);

}

/* Contact */

#Contact{
    position: relative;
    z-index: 2;
}

#Contact::after{
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(78, 87, 212, 0.8),rgba(78, 87, 212, 0.8)), url('../images/counter1.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

#Contact .form-control{
    border-radius: 0;
}

#Contact .form-control:focus{
    box-shadow: none;
    border-color: var(--c-brand);
}

/* Footer */

footer{
    padding-top: 120px;
}

.footer-top{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);

}

.footer-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
}
footer li,
footer p,
footer a{
    color:rgba(255, 255, 255, 0.537);
}

footer ul{
    list-style: none;
    padding: 0;
}

footer .line{
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;

}

.social-links a{
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}

.social-links a:hover{
    background-color: var(--c-brand);
    color: white;
}